@{
    ViewData["Title"] = "Issues";
}

@model List<Issue>

@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["success"]
    </div>
}

<h1>@ViewData["Title"]</h1>

<a asp-controller="Issue" asp-action="Create" class="btn btn-sm btn-primary mt-2 mb-4">New Issue</a>
<div class="card p-3 overflow-y-scroll">
    <table class="table m-0 table-bordered">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Description</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Issue obj in Model.OrderBy(u => u.CreatedAt))
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>
                        <span class="badge rounded-pill
                        @(obj.Status==Status.OPEN ?"text-bg-danger":
                        obj.Status==Status.IN_PROGESS ? "text-bg-warning":
                        obj.Status==Status.CLOSED ? "text-bg-success":"")">
                        @(obj.Status==Status.IN_PROGESS? "In Progress": obj.Status==Status.OPEN ? "Open":"Closed")
                        </span>
                    </td>
                    <td>@obj.Description</td>
                    <td>@obj.CreatedAt.ToLocalTime()</td>
                    <td>@obj.UpdatedAt?.ToLocalTime()</td>
                    <td>
                        <a asp-controller="Issue" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-sm btn-outline-info me-2">Edit</a>
                        <a asp-controller="Issue" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

